<!DOCTYPE html>
<html lang="en">
<head>
 {{>style}}
   {{>headerlinks}}
</head>
<body>
    {{>nav}}
    <!-- -------------main-header----------------- -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                <!-- ----------leftside-div------------- -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure>
                        <img src="https://tse2.mm.bing.net/th?id=OIP.L8YVdsSYoYH9lTi-VtTy1gHaEk&pid=Api&P=0" alt="usman" class="img-fluid" title="Usman Mern Stack">
                    </figure>
                
                    <p>Welcome To Usman World</p>
                    <h1> {{ errormsg}}</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- --------------------fotter---------------- -->
         {{>footer}}
 {{>footerlinks}}
</body>
</html>