<!DOCTYPE html>
<html lang="en">
<head>
 {{>style}}
   {{>headerlinks}}
</head>
<body>
    {{>nav}}
    <!-- -------------main-header----------------- -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                <!-- ----------left-side-div------------- -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="https://tse2.mm.bing.net/th?id=OIP.EBIN6XddyqH7wiEdxUl5wAHaE7&pid=Api&P=0" alt="usman" class="img-fluid" title="Usman Mern Stack">
                    </figure>
                </div>
               
                 <!-- ----------rigght-side-div------------- -->
                 <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome To Weather app</p>
                    <h1>Hi! I am a   <span class="text-clr">Mern Stack Developer</span> And a Freelancer</h1>
                    <a href="#"><button>About Me</button></a>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- --------------------fotter---------------- -->
         {{>footer}}
 {{>footerlinks}}
</body>
</html>